<ion-header class="ion-no-border">
  <ion-grid fixed="true" class="ion-no-padding">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="secondary" shape="round">
          <ion-icon name="scan-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title color="primary">{{ 'dashboard.title' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button color="secondary" shape="round">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-grid>
</ion-header>
<ion-content fullscreen="true">
  <ion-grid fixed="true" class="ion-no-padding">
    <chart [total]="total"></chart>
    <ion-refresher slot="fixed" (ionRefresh)="  doRefresh($event)"><ion-refresher-content></ion-refresher-content></ion-refresher>

    <ng-container>
      <ng-template>
        <ion-row class="container__empty" class="ion-padding ion-justify-content-center">
          <img width="50%" height="50%" src="./assets/img/sync_wallet_onboarding_1.svg" />
          <p [innerHTML]="'portfolio.empty-state_text' | translate"></p>
        </ion-row>
      </ng-template>
    </ng-container>
    <ng-template #loading>
      <ion-list lines="none" class="ion-margin-top">
        <ion-card>
          <portfolio-item></portfolio-item>
        </ion-card>
        <ion-card>
          <portfolio-item></portfolio-item>
        </ion-card>
        <ion-card>
          <portfolio-item></portfolio-item>
        </ion-card>
        <ion-card>
          <portfolio-item></portfolio-item>
        </ion-card>
      </ion-list>
    </ng-template>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="wallets | async as walletsArray">
      <ion-fab-button *ngIf="walletsArray.length > 0" id="add-more-coins-button" color="secondary" (click)="openAccountAddPage()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-button
        *ngIf="walletsArray.length === 0"
        id="add-initial-coin-button"
        color="secondary"
        (click)="openAccountAddPage()"
        shape="round"
      >
        <ion-icon slot="start" name="add"></ion-icon>
        {{ 'portfolio.add-coins_label' | translate }}
      </ion-button>
    </ng-container>
  </ion-fab>
</ion-content>
